.listofcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  border-radius: 5px;
  min-width: 25rem;
  height: 210px;
  padding: 1rem 2rem;
  position: relative;
  margin: 1.5rem 1.5rem;
  background: white;
  box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.21);
}

.card img {
  width: 50px;
}

.cardNumber {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0;
  letter-spacing: 1px;
  color: rgb(19, 125, 211);
}

.cardFooter {
  line-height: 0.5;
  font-size: 1.3rem;
}

.footer {
  color: #ffffff;
  background-color: #333333;
  text-align: center;
  padding: 1em;
}
