.container {
  max-width: 1260px;
  margin: 0 auto;
}
.board {
  padding: 2rem 4rem;
  margin: 0px auto 10px auto;
  h2 {
    color: #333;
    font-size: 3rem;
    margin-left: 6rem;
  }
  p {
    margin-left: 6rem;
    color: gray;
  }
}

.boardContent {
  margin: 3rem auto;
  max-width: 100%;
  border: red solid;
}

@media (max-width: 968px) {
  .heroContent {
    max-width: 90%;
  }

  .container {
    background-position: 18% 50%;
  }
}
