.main {
  max-width: 1260px;
  margin: 0 auto;
  section {
    padding: 3rem;
  }

  h2 {
    color: #333;
    font-size: 3rem;
    margin-left: 6rem;
  }
  p {
    margin-left: 6rem;
    color: gray;
  }
}
